.animalsContainer {
  display: flex;
}

.availableAnimalsContainer {
  width: 30%;
  background-color: #f3f3f3;
}

.myAnimalsContainer {
  width: 70%;
  background-color: #e6e2e2;
}

.animalImage {
  width: 40px;
  height: 40px;
}

.coins {
  width: 13px;
  height: 13px;
}

.displayAnimalDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-bottom: solid 1px;
  border-color: #dcdbdb;
}

.animalNamePhoto {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: center;
}

.myAnimals {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.animalPrice {
  margin: 3px;
}

.singleAnimalContainer {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 20px;
}

.singleAnimalContainerAnimalImage {
  width: 65px;
  height: 65px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  margin: auto;
}
