.myZoosBox {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
}

.myZoosButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 15px;
}

.newZooButton {
  background-color: #78a55b;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}

.myZoosOverviewBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  height: 35%;
  border-radius: 5px;
}

.localStorageZoo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  border-bottom: solid 1px;
  border-color: #dcdbdb;
}

.openButton {
  background-color: #87a7de;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: 300;
  margin-right: 5px;
  margin-bottom: 5px;
}

.deleteButton {
  background-color: #dd5d60;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: 300;
}
